<!DOCTYPE html>
<html>
<head>
  <title>Blog from Rob</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "flat-ui", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div class="row">
      <header>
        <h1 class="demo-logo">A Blog About Stuff</h1>
      </header>
    </div><!-- End Row -->
    <div class="row">
        <section class="span8">
				<%= yield %>
        </section>
				<aside class="span4">
          <div class="post">              
            <nav> 
              <ul class="nav-section">
                <hr>
                <li><a href="#">Home</a></li>
                <hr>
                <li><a href="#">Robbrown.co</a></li>
                <hr>
                <li><a href="#">Facebook</a></li>
                <hr>
                <li><a href="#">Twitter</a></li>
                <hr>
                <li><a href="#">LinkedIn</a></li>
                <hr>
                <li><a href="#">GitHub</a></li>
                <hr>
                <li><input type="search" value="Search" /></li>
              </ul>
            </nav>
          </div>
        </aside>
      </div><!-- End Row -->
	</div><!-- End Container -->
    <footer>
      <span>Rob Brown</span>
    </footer>

  <%= javascript_include_tag "jquery-1.8.2.min" %>
	<%= javascript_include_tag "jquery-ui-1.10.0.custom.min" %>
  <%= javascript_include_tag "jquery.dropkick-1.0.0" %>
  <%= javascript_include_tag "bootstrap-tooltip" %>
</body>
</html>
