<% @posts.each do |post| %>
	<article class="row post">
  	<h2><%= post.title %></h2>
    <h4><%= post.name %></h4>
    <p><%= post.content %></p>
    <button class="btn btn-large btn-block"><%= link_to 'See More', post %></button>
  </article>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
