<% @posts.each do |post| %>
	<article class="row post">
  	<h2><%= post.title %></h2>
    <h4><%= post.name %></h4>
    <p><%= sanitize(truncate(post.content, :length => 200)) %></p>
    <%= button_to "See More", post, :class => "btn btn-large btn-block", :method => :get %>
  </article>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
